* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
}




.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
    z-index: 2;

}

.todo-app-list {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px auto 20px;
    padding: 20px 30px 20px;
    border-radius: 10px;
    z-index: 1;

}


.todo-app-header {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 300px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
}

.todo-app-header h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 50px;
}

.todo-app-header img {
    width: 100px;
    height: fit-content;
    margin-left: 10px;
    align-self: center;
    margin-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    background: #ff5945;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 50px;
    font-size: 16px;
    border-radius: 40px;
}

ul li {

    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked:before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 4px;
    width: 40px;
    height: 40px;
    font-size: 45px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}